/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &default_layout;
    };

    /* Your existing 4x4 kscan0 matrix */
    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        row-gpios = <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&gpio0 23 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,
                    <&gpio0 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;

        col-gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>,
                    <&gpio0 17 GPIO_ACTIVE_HIGH>,
                    <&gpio0 16 GPIO_ACTIVE_HIGH>,
                    <&gpio0 15 GPIO_ACTIVE_HIGH>;
    };

    /* Add new direct-wired switches */
    kscan1: direct_keys {
        compatible = "zmk,kscan-gpio-direct";
        input-gpios = <&gpio0 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>, /* Volume Down */
                      <&gpio0 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; /* Volume Up */
    };

    /* Matrix layout */
    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <4>;
        rows = <4>;
        map = <
            0  4  8 12
            1  5  9 13
            2  6 10 14
            3  7 11 15
        >;
    };

    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan0>;

        /* 4x4 grid */
        keys
            = <&key_physical_attrs 100 100   0   0 0 0 0>
            , <&key_physical_attrs 100 100 100   0 0 0 0>
            , <&key_physical_attrs 100 100 200   0 0 0 0>
            , <&key_physical_attrs 100 100 300   0 0 0 0>
            , <&key_physical_attrs 100 100   0 100 0 0 0>
            , <&key_physical_attrs 100 100 100 100 0 0 0>
            , <&key_physical_attrs 100 100 200 100 0 0 0>
            , <&key_physical_attrs 100 100 300 100 0 0 0>
            , <&key_physical_attrs 100 100   0 200 0 0 0>
            , <&key_physical_attrs 100 100 100 200 0 0 0>
            , <&key_physical_attrs 100 100 200 200 0 0 0>
            , <&key_physical_attrs 100 100 300 200 0 0 0>
            , <&key_physical_attrs 100 100   0 300 0 0 0>
            , <&key_physical_attrs 100 100 100 300 0 0 0>
            , <&key_physical_attrs 100 100 200 300 0 0 0>
            , <&key_physical_attrs 100 100 300 300 0 0 0>
        ;
    };

    /* Separate layout for direct-wired switches */
    volume_layout: volume_keys {
        compatible = "zmk,physical-layout";
        display-name = "Volume Keys";
        kscan = <&kscan1>;

        keys
            = <&key_physical_attrs 100 100 500 0 0 0 0>   /* VOL- */
            , <&key_physical_attrs 100 100 600 0 0 0 0>;  /* VOL+ */
    };
};
