/ {
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            bindings = 
                /* Direct switches: */
                &kp VOL_DN &kp VOL_UP
            >;
        };
        
        function_layer {
            bindings = 
                /* Direct switches still mapped: */
                &kp VOL_DN &kp VOL_UP
            >;
        };
    };
};
