/ {
    keymap {
        compatible = "zmk,keymap";
        
        default_layer {
            bindings = 
                &kp N1    &kp N2    &kp N3    &mo 1
                &kp N4    &kp N5    &kp N6    &kp N7
                &kp N8    &kp N9    &kp N0    &kp MINUS
                &kp ASTRK &kp BSPC  &kp POUND &kp ENTER
                /* Direct switches: */
                &kp VOL_DN &kp VOL_UP
            >;
        };
        
        function_layer {
            bindings = 
                &trans    &trans    &trans    &trans
                &trans    &trans    &trans    &trans
                &trans    &trans    &trans    &trans
                &kp EQUAL &trans    &trans    &studio_unlock
                /* Direct switches still mapped: */
                &kp VOL_DN &kp VOL_UP
            >;
        };
    };
};
